In [1]:
import numpy as np 
import pandas as pd

In [2]:
credits = pd.read_csv("../Movie_recommendations/tmdb_data/tmdb_5000_credits.csv")
movies = pd.read_csv("../Movie_recommendations/tmdb_data/tmdb_5000_movies.csv")
ratings = pd.read_csv("../Movie_recommendations/tmdb_data/ratings_small.csv")

credits.rename(columns={'movie_id':'movie'}, inplace=True)
movies.rename(columns={'id':'movie'}, inplace=True)
ratings.rename(columns={'movieId':'movie', "userId":"user"}, inplace=True)

In [3]:
data = pd.merge(credits,movies, on="movie")
df = data.merge(ratings, on="movie")

In [4]:
ratings = ratings.loc[:,["user","movie","rating"]]
ratings

        user  movie  rating
0          1     31     2.5
1          1   1029     3.0
2          1   1061     3.0
3          1   1129     2.0
4          1   1172     4.0
...      ...    ...     ...
99999    671   6268     2.5
100000   671   6269     4.0
100001   671   6365     4.0
100002   671   6385     2.5
100003   671   6565     3.5

[100004 rows x 3 columns]

In [5]:
df.drop(['status', 'title_x', 'title_y'], axis=1, inplace=True)

In [6]:
df.head(1)

,movie,cast,crew,budget,genres,homepage,keywords,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,tagline,vote_average,vote_count,user,rating,timestamp
0,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",...,2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","At the end of the world, the adventure begins.",6.9,4500,39,4.0,832523436

In [7]:
df.vote_average.mean()

6.802310053308922

In [8]:
# what we need is that movie id and title
df = df.loc[:,["movie","original_title","user","vote_average"]]

# re writing the movie columns into number from 1-857 one number for each "original_title"
df["movie"] = df["original_title"].astype('category').cat.codes
df["user"] = df["user"].astype('category').cat.codes

# df['user'].unique().shape
df['user'] +=1
df['movie'] +=1
print(df["movie"].max(), df["movie"].min())

856 1

In [9]:
# selecting movie, user and vote_average colmns
df1 = df.loc[:,["movie","user","vote_average"]]
df1.rename(columns={'vote_average':'rating'}, inplace=True)
df1.to_csv("Processed_data_tmdb.csv")

In [10]:
# Movie name vs movieId table
movie_names = df[["movie","original_title"]]
movie_names.sort_values("movie", inplace=True)
#removing duplicates
movie_names.drop_duplicates(keep="first", inplace=True)
movie_names.head(10)

movie_names.to_csv("movie_names_tmdb.csv")

/tmp/ipykernel_82699/1097006603.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_names.sort_values("movie", inplace=True)
/tmp/ipykernel_82699/1097006603.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_names.drop_duplicates(keep="first", inplace=True)